
.navBar {
    -fx-background-color: #2f4f4f;
}

.button: {
    -fx-background-color: #2f4f4f;
}

.controlBar:hover {
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-scale-z: 1.2;
}

.detailsBar:hover {
    -fx-background-color: #255F85;
}
