
.navBar {
    -fx-background-color: #2f4f4f;
}

.button: {
    -fx-background-color: #2f4f4f;
}

.controlBar:hover {
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-scale-z: 1.2;
}

.menu-label {
    -fx-background-color: #30cccc;
    -fx-background-radius: 7;
    -fx-text-fill: white;
}