
.navBar {
    -fx-background-color: white;
}

.controlBar: {
    -fx-background-color: #0c4a6e;
}

.controlBar:hover {
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-scale-z: 1.2;
    -fx-background-color: #0c4a6e;
}

.menu-label {
    -fx-background-color: lightblue;
    -fx-background-radius: 7;
    -fx-text-fill: black;
}
