
.navBar {
    -fx-background-color: white;
}

.controlBar {
    -fx-background-color: #0c4a6e;
}

.controlBar:hover {
    -fx-background-color:  #3F5EFB;
}

.button:pressed {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}

.menu-label {
    -fx-background-color: whitesmoke;
    -fx-background-radius: 7;
    -fx-text-fill: black;
}
