.button {
    -fx-background-color: #30cccc;
    -fx-background-radius: 10px;
}

.text-field {
    -fx-background-color: #2f4f4f;
    -fx-background-radius: 10px;
    -fx-border-color: #30cccc;
    -fx-border-radius: 10px;
    -fx-border-width: 2;
    -fx-font-size: 15;
    -fx-text-fill: white;
}

.list-view {
    -fx-background-color: #2f4f4f;
    -fx-border-color: #30cccc;
    -fx-border-width: 2;
    -fx-font-size: 15;
    -fx-text-fill: white;
    -fx-control-inner-background-color: #2f4f4f;
}

/*
.label {
    -fx-background-color: #2f4f4f;
    -fx-background-radius: 10px;
    -fx-border-color: #30cccc;
    -fx-border-radius: 10px;
    -fx-border-width: 2;
    -fx-font-size: 15;
    -fx-text-fill: white;
}
*/