.button {
    -fx-background-color: #def3f6;
    -fx-text-fill: black;
    -fx-background-radius: 10px;
}

.text-field {
    -fx-background-color: #def3f6;
    -fx-background-radius: 10px;
    -fx-border-color: black;
    -fx-border-radius: 10px;
    -fx-border-width: 2;
    -fx-font-size: 15;
    -fx-text-fill: black;
}

.list-view {
    -fx-background-color: #def3f6;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-font-size: 15;
    -fx-text-fill: black;
}

/*
.label {
    -fx-background-color: #def3f6;
    -fx-background-radius: 10px;
    -fx-border-color: black;
    -fx-border-radius: 10px;
    -fx-border-width: 2;
    -fx-font-size: 15;
    -fx-text-fill: black;
}
*/