.button {
    -fx-background-color: #30cccc;
    -fx-text-fill: black;
    -fx-background-radius: 10px;
}

.text-field {
    -fx-background-color: #2f4f4f;
    -fx-background-radius: 10px;
    -fx-border-color: #30cccc;
    -fx-border-radius: 10px;
    -fx-border-width: 2;
    -fx-font-size: 15;
    -fx-text-fill: white;
}

.list-view {
    -fx-background-color: #2f4f4f;
    -fx-border-color: #30cccc;
    -fx-border-width: 2;
    -fx-font-size: 15;
    -fx-text-fill: white;
    -fx-control-inner-background-color: #2f4f4f;
}

.meaning-pane {
    -fx-border-color: #30cccc;
    -fx-border-width: 2;
}

.correct:hover {
    -fx-text-fill: #30cccc;
}

.correct:pressed {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}

.html-editor
{
    -fx-font: 12 cambria;
    -fx-border-color: #30cccc;
    -fx-border-width: 2;
    -fx-background-color: #2f4f4f;
    /*
    -fx-border-style: solid;
    -fx-border-width: 1;
    */
}

.html-editor .button, .html-editor .toggle-button
{
    -fx-background-color: #30cccc;
}

.html-editor-background
{
    -fx-color-label-visible: true;
    -fx-background-color: #2f4f4f;
}

.html-editor-foreground
{
    -fx-color-label-visible: true;
    -fx-background-color: #2f4f4f;
}
