.pane {
    -fx-border-color: black;
    -fx-border-radius: 24;
    -fx-border-width: 4;
    -fx-background-color: #def3f6;
    -fx-background-radius: 24;
}

.button {
    -fx-background-color: whitesmoke;
    -fx-background-radius: 10;
    -fx-text-fill: black;
}

.label {
    -fx-text-fill: black;
}

.slider .axis {
    -fx-tick-label-fill: black;
    -fx-tick-label-font-size: 12;
}

