.content-pane {
    -fx-background-color : #def3f6;
}

.button-lang {
    -fx-background-color: lightgrey;
    -fx-text-fill: black;
    -fx-background-radius: 10px;
}

.button-lang:hover {
    -fx-background-color: #a2d2df;
}


.button-double-arrow {
    -fx-pref-width: 60;
    -fx-pref-height: 40;
}

.button-double-arrow:hover {
    -fx-background-color: #a2d2df;
    -fx-cursor: default;
}

.button-translate-submit {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-padding: 5;
    -fx-pref-width: 120;
    -fx-pref-height: 30;

    -fx-text-fill: black;
    -fx-font-size: 18;
    -fx-font-weight: bold;
}

.button-translate-submit:hover {
    -fx-text-fill: black;
    -fx-background-color: #255F85;
}

.button-speak {
    -fx-background-color: lightgrey;
    -fx-background-radius: 10px;
}

.button-speak:hover {
    -fx-background-color: #a2d2df;
    -fx-background-radius: 10px;
}

/* ========================= TextField ========================= */

.text-field {
    -fx-background-color: white;
    -fx-font-size: 15;
    -fx-text-fill: black;
    -fx-background-radius: 10px;
    -fx-border-color: black;
    -fx-border-radius: 10px;
}

/* ========================= TextArea ========================= */

.text-area {
    -fx-background-insets: 0;
    -fx-background-color: white;
    -fx-background-radius: 10px;
    -fx-prompt-text-fill : black;
    -fx-text-fill: black;
}

.text-area .content {
    -fx-background-color: white;
    -fx-font-size: 15;
    -fx-background-radius: 10px;
    -fx-text-fill: black;
}

.text-area:focused {
    -fx-background-color: white;
    -fx-font-size: 15;
    -fx-background-radius: 10px;
    -fx-text-fill: black;
}
