
.button-lang {
    -fx-background-color: #30cccc;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 10px;
}

.button-lang:hover {
    -fx-background-color: #6495ed;
}


.button-double-arrow {
    -fx-pref-width: 60;
    -fx-pref-height: 40;
    -fx-background-color: #30cccc;
}

.button-double-arrow:hover {
    -fx-background-color: lightblue;
    -fx-cursor: default;
}

.button-translate-submit {
    -fx-background-color: #008000;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-padding: 5;
    -fx-pref-width: 120;
    -fx-pref-height: 30;

    -fx-text-fill: white;
    -fx-font-size: 18;
    -fx-font-weight: bold;
}

.button-translate-submit:hover {
    -fx-text-fill: white;
    -fx-background-color: #32cd32;
}

.button-speak {
    -fx-background-color: #30cccc;
    -fx-background-radius: 10px;
}

.button-speak:hover {
    -fx-background-color: #6495ed;
    -fx-background-radius: 10px;
}

/* ========================= TextField ========================= */

.text-field {
    -fx-background-color: #2f4f4f;
    -fx-font-size: 15;
    -fx-text-fill: white;
    -fx-background-radius: 10px;
    -fx-border-color: #30cccc;
    -fx-border-radius: 10px;
    -fx-border-width: 2;
}

